<h1>Here's Your Label!</h1>

<div class="show-label">
  <a href="<%= @label.url %>" target="_blank">Your Shipping Label</a>


  <p>You can use this tracking code to follow the progress of your parcel:</p>

  <p><%= @label.tracking_code %></p>

</div>



<a class="footer-link" href="<%= labels_url %>">All Your Shipping Labels</a>
